{% extends "base.html.jinja" %}
{% block content %}

<div>
    <h2>Quiz List</h2>
    <ul>
        {% for quiz in quizzes %}
        <li>
            {{ quiz }}
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <h2>Question List</h2>
    <ul>
        {% for question in questions %}
        <li>
            {{ question }}
        </li>
        {% endfor %}
</div>

<div>
    <h2>Answer List</h2>
    <ul>
        {% for answer in answers %}
        <li>
            {{ answer }}
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <h2>Hint List</h2>
    <ul>
        {% for hint in hints %}
        <li>
            {{ hint }}
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <h2>Datatable</h2>
    {{ df_html }}
</div>

{% endblock content %}
