<!DOCTYPE html>
<html lang="en" class="box-sizing">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Quiz Server - A simple quiz application" />
        <meta name="keywords" content="quiz, application, quiz server, quiz app" />
        <meta name="author" content="HoleInOneStudios, Benjamin Bowles" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="user-scalable=no, width=device-width" />

        <title>{{ title }}</title>

        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

        <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        {% block header %}
        <header class="no-select box-sizing">
            <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Quiz Icon" id="header-icon">
            <h1>{{ title }}</h1>
        </header>
        {% endblock %}
        {% block content %}
        <main></main>
        {% endblock %}
        {% block footer %}
        <footer class="no-select box-sizing">
            <span>
                Link to source code on
                <a href=" https://github.com/HoleInOneGolfer/web-quiz-app" target="_blank">GitHub</a>
            </span>
            <br>
            <span>
                Created by
                <a href="https://github.com/HoleInOneGolfer" target="_blank">Benjamin Bowles</a>
            </span>
            <br>
            <span>
                Copyright &copy; 2025
            </span>
        </footer>
        {% endblock %}
        {% block scripts %}{% endblock %}
    </body>

</html>
