{% extends "base.jinja" %}

{% block content %}
<main style="align-items: center;">
    <ul>
        {% for quiz in quiz_list %}
        <li>
            <a href="{{ url_for('quiz.quiz', quiz_name=quiz) }}">{{ quiz }}</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('quiz.info') }}">Info</a>
</main>

{% endblock %}
