{% extends "base.html.jinja" %}
{% block content %}

<ul>
    {% for quiz in quizzes %}
    <li>
        <a href="{{ url_for('quiz', quiz_name=quiz) }}">{{ quiz }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
