{% extends "base.jinja" %}

{% block content %}
<main style="align-items: center;">
    <ul>
        {% for quiz in quiz_list %}
        <li>
            <a href="{{ url_for('quiz.get_quiz', quiz_name=quiz) }}">{{ quiz }}</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('quiz.get_data') }}">Get Data</a>
    <a href="{{ url_for('quiz.get_results') }}">Get Results</a>
</main>

{% endblock %}
